<div class="jumbotron">
  <h1>Martial Artists</h1>
</div>

<% @artists.each do |artist| %>
  <div class="artist">
    <img src="<%= artist.image_url %>" alt=""> <br>
    <h3><%= link_to_artist_show(artist)%></h3>
  </div>
<% end %>
