<div class="jumbotron">
  <h1>Welcome to PartialArts</h1>
</div>

<a href="/artists">All Artists</a> <br>
<a href="/belts">Artists by Belt Color</a> <br>
<a href="/categories">Artists by Category</a> <br>

<%= erb :_belt_statistics %>

<%= erb :_category_statistics %>

<%= erb :_location_statistics %>
