<div class="jumbotron">
  <h1>Belts</h1>
</div>

<% @belts.each do |belt| %>
  <h2><%= belt.color.capitalize %></h2>
  <div class="belt-<%= belt.color %> clearfix">
    <% belt.artists.each do |artist| %>
      <div class="artist">
        <img src="<%= artist.image_url %>" alt=""> <br>
        <h3><%= link_to_artist_show(artist) %></a></h3>
      </div>
    <% end %>
  </div>
<% end %>
